.shopkun .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 314px;
} 

.search-button img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.search-bar {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}

.header-container {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    justify-content: center;
    position: fixed;
    width: 100%;

    background-color: #f0f0f0;

}

.search-bar {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}
