.tone-imgmain{
    width: 100%;
    height: 344px;
    background-color: #f0f0f0;
    display: flex;

    justify-content: center; /* จัดให้เนื้อหาอยู่กึ่งกลางแนวนอน */
    align-items: center; /* จัดให้เนื้อหาอยู่กึ่งกลางแนวตั้ง */
}

.sectionbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1024px;
    margin-left: -19px;
  }

.sectionbox img{
    width: 100%;
    height: 344px;
}

