.N{
    justify-content: center;
    margin-left: 165px;

}

.icon-Laz {
    width: 120px;
    height: 18px;
    margin-top: 15px;
    justify-content: center;
    text-align: center;

}

.icon-LazF {
    display: flex;
    background-color: #fff;
    width: 1228px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
  }


.box-icon {
    width: 296px;
    height: 30px;
}

span h5 {
    color: black;
}

.box-icon h5 {
    margin-top: 5px;
}
